@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #272A35;
	--dark-color-b: #292F3F;
	--dark-color-c: #373E4E;
	--light-color: #E6E9FF;
	--success-color: #00AC83;
	--highlight-color: #837DFF;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--dark-color-c);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	background: var(--highlight-color);
	color: var(--light-color);
}

/* Chat Page */

.chat-container {
	color: var(--light-color);
}

.chat-header {
	background: var(--dark-color-a);
}

.chat-sidebar {
	background: var(--dark-color-a);
}

.chat-sidebar h2 {
	background: var(--dark-color-b);
}

.chat-messages {
	background-color: var(--dark-color-b);
}

.chat-messages .message {
	overflow-wrap: break-word;
}

.chat-messages .message:hover {
	background-color: var(--dark-color-c);
}

.chat-messages .timestamp {
	visibility: hidden;
}

.chat-messages .message:hover .timestamp {
	visibility: visible;
}

.chat-form-container {
	background-color: var(--dark-color-a);
}

.chat-form-container input[type='text'] {
    background-color: var(--dark-color-c);
}

/* Join Page */
.join-container {
	color: var(--light-color);
}

.join-header {
	background: var(--dark-color-a);
}

.join-main {
	background: var(--dark-color-b);
}

.join-main input[type='text'] {
    background-color: var(--dark-color-c);
}

.join-main select {
    background-color: var(--dark-color-c);
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
