@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

:root {
  --dark-color-a: #272a35;
  --dark-color-b: #292f3f;
  --dark-color-c: #373e4e;
  --light-color: #e6e9ff;
  --success-color: #00ac83;
  --highlight-color: #837dff;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

@media (max-width: 640px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
